<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kundeninformation</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div style="padding: 1rem 10%; background-color: #283449; color: #fff;">
        <h1>WebStateCheck</h1>
    </div>
    <div style="padding: 1rem 10%; font-size: 1.1rem; line-height: 1.6rem;">
        <p>Sehr geehrte:r Kunde:in,</p>
        <p>
            Unser automatisiertes System hat festgestellt, dass Ihre Webseite unter 
            der Domain <strong>{{ WEBSITEURL }}</strong> derzeit einen Fehler aufweist.
            Dies kann bedeuten, dass Ihre Webseite nicht erreichbar ist oder nicht korrekt
            geladen wird.
        </p>
        <p>
            Die Gründe hierfür können vielfältig sein, wie z.B. Serverprobleme,
            DNS-Fehler oder Wartungsarbeiten. Wir empfehlen Ihnen, die Erreichbarkeit
            Ihrer Webseite regelmäßig zu überprüfen und gegebenenfalls Ihren Hosting-Anbieter zu kontaktieren.
        </p>
        <p>
            Gerne können Sie uns beauftragen, die Erreichbarkeit Ihrer Webseite wiederherzustellen. Erstellen
            Sie dazu einfach ein Ticket in unserem <a href="#">Helpdesk</a>.
        </p>
    </div>
    <div style="padding: 1rem; margin: 1rem 10%; background-color: #c4d1e7; border-radius: 0.5rem;">
        <h3>FAQ: Was sind mögliche Auswirkungen eines Fehlers?</h3>
        <p>
            Ein Fehler auf Ihrer Webseite kann verschiedene Auswirkungen haben. In der Regel ist Ihre Webseite
            für Besucher nicht erreichbar, was zu einem Verlust von potenziellen Kunden führen kann. Zudem
            kann ein Fehler das Vertrauen in Ihre Marke beeinträchtigen, insbesondere wenn Kunden wiederholt
            auf Probleme stoßen. Es ist daher wichtig, solche Fehler schnell zu beheben, um die
            Benutzererfahrung zu verbessern und die Integrität Ihrer Online-Präsenz zu wahren. Bei längeren
            Ausfallzeiten könnten auch Suchmaschinen-Rankings negativ beeinflusst werden, was die Sichtbarkeit
            Ihrer Webseite weiter verringert.
        </p>
    </div>
    <div style="padding: 1rem; margin: 1rem 10%; background-color: #c4d1e7; border-radius: 0.5rem;">
        <h3>FAQ: Kostet mich dieser Test etwas?</h3>
        <p>
            Nein, dieser Test ist für Sie als Kunde kostenlos. Wir führen diese Überprüfung der Hauptdomain
            täglich durch, um sicherzustellen, dass Ihre Webseite erreichbar ist.
        </p>
    </div>
</body>
</html>